@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>Zadania:</h1>

    <ul>
        <li>@Html.ActionLink("Część 1", "Part1")</li>
        <li>@Html.ActionLink("Część 2", "Part2")</li>
        <li>@Html.ActionLink("Część 3", "Part3")</li>
    </ul>
</div>